<h1>Basic notes</h1>

<h3>Comments</h3>
Comments are followed by #

In [1]:
# this is a comment

<h3>String Functions</h3>

In [2]:
sentence = "hellO WOrld"
print(sentence.upper()) # converts the string to upper case
print(sentence.lower()) # converts the string to lower case
print(sentence.capitalize()) # makes the first letter of the string as upper case and rest as lower case
print(sentence.count('a')) # counts the number of times the given argument occurs in the string

HELLO WORLD
hello world
Hello world
0

<strong>More on count</strong>

In [3]:
name = 'Rajat'
print(name.count("a"))
print(name.count("aj"))# can take multi character strings
print(name.count("R"))# considers case also
print(name.count("r"))

2
1
1
0

<h3>Mathematical operators</h3>

In [4]:
a = 12
b = 22
print("a = ",a," \nb = ",b)
print()
print("Sum = ",a+b) # addition
print("Difference = ",b-a) # Substraction
print("Multiplication = ",a*b) # Multiplication
print("Floating Division", b/a) # Division
print("Integer Division", b//a) # Division that uses // returns integer value
print("a raised to power b",a**b) #Exponent

a =  12
b =  22

Sum =  34
Difference =  10
Multiplication =  264
Floating Division 1.8333333333333333
Integer Division 1
a raised to power b 552061438912436417593344

<h3>Type Conversion</h3>

<strong>str(): changes any data type to string <br>
int(): converts any data type to integer </strong>

In [5]:
num1 = input("Enter a number")
num2 = input("Enter another number")
print(num1+num2, "(Without Type conversion)") 
print(int(num1)+int(num2), "(With Type conversion)")

Enter a number12
Enter another number10
1210 (Without Type conversion)
22 (With Type conversion)

<h3>type fuction</h3>
<b>The type funtion returns the data type of the a variabe</b>

In [11]:
#Example
print(type(a))
k = 22.6
name = "Heera Laal"
print(type(k))
print(type(name))
print(type(type(k))) # the datatype that type returns is a called type

<class 'int'>
<class 'float'>
<class 'str'>
<class 'type'>

<h3>id funtion:</h3>
<b>It returns address of the variable given in the argument. In form if a numeric ID</b>

In [2]:
#Example
v = ''
print(id(v))

139703621397616

<h2>Logical operators</h2>

In [4]:
# and , or , not are the keywords that are used as logical operatprs in python
# Example
a = False
b = True
print(a and b)
print(a or b)
print(not a )
print(not b)

False
True
True
False

<h2>max and min functions</h2>

In [15]:
print(max(1,8,6,5)) # returns maximum value of the arguments
print(min(1,8,6,5)) # returns minimum value of the argumentd

8
1

<h1>String Functions</h1>

In [20]:
# upper(): returns string converted to upper case
'heY'.upper()

'HEY'

In [21]:
# lower() : returns string converted to lower case
"heY".lower()

'hey'

In [25]:
# capitalize() : converts first letter of the string to upper case and rest to lower case
"heY".capitalize()

'Hey'

In [27]:
#swapcase(): switches the case of each letter of the string
txt = "Hello My Name Is PETER"
x = txt.swapcase()
print(x)

hELLO mY nAME iS peter